[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[user]
    name = Kneasle
    email = kneasle@gmail.com
[core]
    editor = vim
[alias]
    st = status
    graph = log --oneline --decorate --all --graph
    br = branch
    co = checkout
    gr = log --oneline --decorate --all --graph
    root = rev-parse --show-toplevel
    unstage = reset HEAD --
    push-new = push -u origin HEAD
	tip = log --oneline --decorate --all --graph -n 10
	am = commit --amend
	cm = commit -m
