[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[user]
    name = Kneasle
    email = kneasle@gmail.com
[core]
    editor = vim
[alias]
    st = status
    br = branch
    co = checkout
    gr = log --oneline --decorate --all --graph
    push-new = push -u origin HEAD
    tip = log --oneline --decorate --all --graph -n 10
    amd = commit --amend --no-edit
    cm = commit -m
    cam = commit -a -m
[init]
    defaultBranch = master
